* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    width: 100%;
    height: 100%;
    font-family: "microsoft yahei";
}

a {
    text-decoration: none; /* 取消下划线 */
    color: inherit; /* 保持原始字体颜色 */
}

li {
    list-style: none;
}

.body-background {
    
    /* 设置背景图片 */
    background-image: url('../img/wallhaven-wqery6-light.webp');
    /* 背景图片覆盖整个页面 */
    background-size: cover;
    /* 背景图片不随滚动条滚动 */
    background-attachment: fixed;
    /* 确保背景图片通过中心点缩放 */
    background-position: center;
    /* 页面内容的最小高度，确保背景覆盖整个屏幕 */
   
    
}










.box {
    
    width: 100%;
    height: auto;

    background-color: rgba(255, 255, 255,0.); /* 半透明白色 */
    margin-top: 0;
    justify-content: space-between;
    min-height: auto;
    
    transition: background-color 1s ease-in-out, backdrop-filter 1s ease-in-out;
    
}

.box-top {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box-top-block {
    color: white;
}



.box-bottom {
    width: 100%;
    height: auto;
    display: flex;
    
    

    justify-content: center;
    align-items: top;
    flex-direction: row;
    display: flex;
    align-items: top;
    flex-direction: row;
    
}



.box-bottom-left {

    
    width: 240px;
    margin: 0 38px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: top;
    flex-direction: row;
    display: flex;
    align-items: top;
    flex-direction: row;

}

.box-bottom-left-block1 {
   
    width: 100%;
    height: 300px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 30px; /* 设置圆角的大小 */
    /* 更多样式 */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    
}

.box-bottom-right {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    
    padding-bottom: 10vh;
}


.box-bottom-right-block1 {
    width: 70%;
    height: 20vh;
    background-color: rgba(255,255,255,0.8);
    border-radius: 30px;
    display: flex;
    
    font-family: Arial, sans-serif;
    margin: 10px 10px; /* 可选：添加一些外边距以在两个块之间留出空间 */
    padding: 5%;
}



