.header {
    position: fixed;
    z-index: 1005;
    top:0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    background:rgba(255,255,255,0.5);
    
    backdrop-filter: blur(0);
    
    align-items: center;
    transition: height 0.5s ease-in-out
    
}

.header .header-left {
    height: auto;
    width: 200px;
    margin-left: 30px;

    display: flex;
    align-items: center;

}

.header .header-left .logo{
    height: auto;
    width: 40px;

    
}

.header .header-left .logo a img {
    
    z-index: 1006;
    max-width: 100%;
    border-radius: 13px;
    
}


.header .header-left .name h3{
    margin-left: 10px;
    height: 100%;
    font-size: 26;
    color: #000000;
}


.nav {
    margin-right: 30px;
}

.nav ul{
    display: flex;
    justify-content: start;
}

.nav ul li {
    width: auto;
    margin: 30px 40px;
}

.nav ul li a{
    font-size: 16px;
    color: #333;
}

.nav ul li a:hover{
    color: #2196f3;
}

.nav ul .active a{
    color:#2196f3;
}



/*code 的样式设计*/
code {
    /* 设置字体和大小 */
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
  
    /* 背景色和文字色 */
    background-color: #f4f4f4; /* 浅灰色背景 */
    color: #333; /* 深灰色文字 */
  
    /* 增加内边距，让文本不会紧贴边框 */
    padding: 2px 4px;
  
    /* 轻微的圆角边框 */
    border-radius: 4px;
  
    /* 添加边框 */
    border: 1px solid #ccc;
  
    /* 行内代码块的换行 */
    white-space: pre;
    overflow-x: auto;
  
    /* 字符间距 */
    letter-spacing: 0.5px;
    line-height: 1.5;
  }
  
  /* 可选：为了增强多行代码块的显示效果，你可以为<pre>元素也添加样式 */
  pre code {
    /* 显示为块级元素，让背景色填满整行 */
    display: block;
    
    /* 多行代码块的内边距 */
    padding: 10px;
    
    /* 溢出滚动 */
    overflow-x: auto;
  
    /* 最大高度，超出部分滚动显示，根据需要调整 */
    max-height: 400px;
  }
  



  /* footer 的样式设计*/

.site-footer {
    width: 100%;
    background-color:rgba(255,255,255,0.8);
    color: black;
    text-align: center;
    padding: 20px 0;
    
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin-right: 20px;
}

.footer-links a {
    color: black;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}